# must provide
NEAR_ACCOUNT_ID=liquidator.near
# must provide
ENCODE_PRIVATE_KEY=U2FsdGVkX1/7aneCmglnC87f76OweiOdEWrjGdPvrM1qSvAWEHavo4mf2ZesW6f0
# uncomment this if you want to cover default value
NODE_URL=https://rpc.mainnet.near.org